In [1]:
print("hello world")# this is first program

hello world

New program start

In [2]:
print(2+3)

5

Variables and Operators in python

In [3]:
x,y,z= "orange","banana","cherry"
print(x)
print(y)
print(z)

orange
banana
cherry

In [4]:
x=y=z="orange"
print(x)
print(y)
print(z)

orange
orange
orange

In [5]:
a=1
print(a)

1

In [6]:
b=2
c=2.5
print(b,c)

2 2.5

In [7]:
student=23
print(student)

23

Datatypes

In [8]:
x=2
print(x)
print(type(x))

2
<class 'int'>

In [9]:
y=4.5
print(y)
print(type(y))

4.5
<class 'float'>

In [10]:
z=2+5j
print(z)
print(type(z))

(2+5j)
<class 'complex'>

In [11]:
a=5
b=3
print(a+b)

8

In [12]:
a="hello"
b="students"
print(a+" "+b)

hello students

multiplication

In [13]:
a=50
b=56
print(a*b)

2800

division

In [14]:
a=10
b=2
print(a/b)

5.0

modulous(reminder)

In [15]:
a=19
b=3
print(a%b)

1

exponent

In [16]:
a=4215
print(a**50)

17373165147789906234986252435969750976474098679713847946530754804158896509018282991882247439102016644326363430166852608883794024690528540294833015256159569617011584341526031494140625