SETS

In [17]:
a={"animals","balls","cat"}
print(a)
print(type(a))

{'animals', 'balls', 'cat'}
<class 'set'>

sets items are unordered

duplictes are not allowed

In [18]:
a ={"animals","balls","cats","animals","balls","balls",}
print(a)

{'animals', 'balls', 'cats'}

True and 1 is consider the same value

In [19]:
a ={"animals","balls","cats","animals","balls","balls",1,2,3,True}
print(a)

{'animals', 1, 2, 3, 'cats', 'balls'}

Length of a set

In [20]:
a ={"animals","balls","cats","animals","balls","balls",1,2,3,True}
print(a)
print(len(a))

{'animals', 1, 2, 3, 'cats', 'balls'}
6

Set items -Data types

In [21]:
a={1,2,3,4,5}
b={1.2,2.3,3.4,4.5}
c={True,False,True}
d={"A","B","C"}
print(a,b,c,d)

{1, 2, 3, 4, 5} {1.2, 2.3, 3.4, 4.5} {False, True} {'B', 'C', 'A'}

In [22]:
k={1,2,3,4,5,"apple","banana",(6+4j)}
print(k)
print(type(k))

{1, 2, 3, 4, 5, 'apple', 'banana', (6+4j)}
<class 'set'>

The set() constructor

In [23]:
thisset=set(("alpha","beta","gamma"))
print(thisset)
print(type(thisset))

{'gamma', 'alpha', 'beta'}
<class 'set'>

Access items

In [24]:
a={"a","b","c","d"}
for x in a:
    print(x)

b
a
d
c

check if "items" is preset

In [25]:
a ={"data","python","code"}
print("anlyst" in a)

False

add items

In [26]:
a={"a","b","c","d"}
a.add("z")
print(a)

{'b', 'a', 'z', 'd', 'c'}

In [27]:
x ={"data","python","code"}
y={10,20,30,40,50}
x.update(y)
print(x)

{'code', 40, 10, 50, 20, 30, 'data', 'python'}

remove set items

In [28]:
n={40, 10, 'data', 50, 20, 'python', 'code', 30}
n.remove(40)
print(n)

{'code', 10, 50, 20, 30, 'data', 'python'}

In [29]:
n.remove('python')
print(n)

{'code', 10, 50, 20, 30, 'data'}

In [30]:
x=n.pop()
print(n)

{10, 50, 20, 30, 'data'}

In [31]:
n.clear()
print(n)

set()

In [32]:
n={40, 10, 'data', 50, 20, 'python', 'code', 30}
del n
print(n)

NameError: name 'n' is not defined

join two sets

In [ ]:
a={"a","b","c","d"}
b={1,2,3,4,5,6}
z=a.union(b)
print(z)

{'a', 1, 2, 3, 4, 5, 6, 'c', 'b', 'd'}

Write a python program to find the max and min vlaues

In [33]:
k={24,67,23,12,67,89,45,34,66,}
print(max(k))
print(min(k))

89
12

return a new set of the identical items from twosets

In [34]:
p={10,20,30,40,50,60}
k={50,60,20,70,80,90}
print(p.intersection(k))

{50, 20, 60}