user defined function.....using def function

creating a user defined function

In [1]:
def my_function():
    print("hello class")
    print("where learning python")

calling a function

In [2]:
my_function()

hello class
where learning python

making the result of a student

In [3]:
def contact():
    print("contact details of the the student")
    print("Delhi public school")
    print("lucknow utter pradesh")
    print("9369261812")
    print("dps.contact@gamil.com")

result of 2 student

In [4]:
for i in range(2):
    a=input("Name of the student")
    b=int(input("maths mark"))
    c=int(input("science marks"))
    d=int(input("english marks"))
    print(a)
    print(b)
    print(c)
    print(d)
    contact()

ValueError: invalid literal for int() with base 10: ''

Argument

In [ ]:

def my_function(fname):
    print(fname+" "+"sharma")

In [ ]:
my_function("Pooja")
my_function("Priya")

Pooja sharma
Priya sharma

In [ ]:
def my_function(fname,lname):
    print(fname+" "+lname)

In [ ]:
my_function("rajeev","verma")

rajeev verma

write a program to calculate the electricity bill
if 500 unit used -pay 5 rs for each unit 
if 700 unit used -pay 10 rs for each unit
if 1000 unit used -pay 15 rs for each unit