List in python

creating a list

In [1]:
mylist=["apple","banana","cherry"]
print(mylist)
print(type(mylist))

['apple', 'banana', 'cherry']
<class 'list'>

allow duplicates

In [2]:
mylist= ["apple","banana","apple","banana"]
print(mylist)

['apple', 'banana', 'apple', 'banana']

mixed lists

In [3]:
a= [12,-8,2.5,"student",True,False]
print(a)

[12, -8, 2.5, 'student', True, False]

list length

In [4]:
a= [12,-8,2.5,"student",True,False]
print(len(a))

6

Access items

In [5]:
thislist=[12,34,56,78,98,65,74,87,]
print(thislist[2])
print(thislist[-2])

56
74

slicing of list

In [6]:
thislist=[12,34,56,78,98,65,74,87,]
print(thislist[0:6])
print(thislist[::3])

[12, 34, 56, 78, 98, 65]
[12, 78, 74]

change list

In [7]:
thislist=["apple","banana","grapes"]
thislist[1]="guava"
print(thislist)

['apple', 'guava', 'grapes']

In [8]:
thislist=[12,34,56,78,98,65,74,87,]
thislist[4]=444
thislist[2:4]=333,555,777
print(thislist)

[12, 34, 333, 555, 777, 444, 65, 74, 87]

In [9]:
thislist=[12,34,56,78,98,65,74,87,]
thislist.append(100)
print(thislist)

[12, 34, 56, 78, 98, 65, 74, 87, 100]

In [10]:
thislist=[12,34,56,78,98,65,74,87,]
thislist.remove(98)
print(thislist)

[12, 34, 56, 78, 65, 74, 87]

In [11]:
thislist=[12,34,56,78,98,65,74,87,]
thislist.reverse()
print(thislist)

[87, 74, 65, 98, 78, 56, 34, 12]

In [12]:
thislist=[12,34,56,78,98,65,74,87,]
print(len(thislist))
a=0
for i in range(8):
   a= a + thislist[i]
   i=i+1
print("the sum of the list is",a)

8
the sum of the list is 504