Tuples in python

creating a tuples

In [1]:
my_tuple=(1,2,3)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3)
<class 'tuple'>

In [2]:
my_tuple=(1,"hello",3.3,(4+5j))
print(my_tuple)
print(type(my_tuple))

(1, 'hello', 3.3, (4+5j))
<class 'tuple'>

nested tuples

In [3]:
a=("data",(1,2,3),(4,5,6))
print(a)
print(type(a))

('data', (1, 2, 3), (4, 5, 6))
<class 'tuple'>

creating a tuple with only one items

In [4]:
var1=(5,)
print(var1)
print(type(var1))

(5,)
<class 'tuple'>

by using commo after string we creat string into tuple

In [5]:
var2=("hello",)
print(var2)
print(type(var2))

('hello',)
<class 'tuple'>

indexing

In [6]:
a=(47,48,49,45,44,4,8)
print(a[5])
print(a[-5])

4
49

slicing

In [7]:
a=(13,34,56,56,78,34,89,67,75,)
print(a[0:6])
print(a[::-1])

(13, 34, 56, 56, 78, 34)
(75, 67, 89, 34, 78, 56, 56, 34, 13)

we can add and remove items in tuple(immutable) by chnging tuple into list  and again chnge it into tuple

In [8]:
a=(25,26,27,28,29)
y=list(a)
y.append(30)
a=tuple(y)
print(a)

(25, 26, 27, 28, 29, 30)

In [9]:
a=(25,26,27,28,29)
y=list(a)
y.remove(26)
a=tuple(y)
print(a)

(25, 27, 28, 29)

loop

In [10]:
thistuple=("a","b","c")
for x in thistuple:
    print(x)

a
b
c

join two tuple

In [11]:
tuple1=("a","b","c")
tuple2=(1,2,3)
tuple3=tuple1+tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

multiply

In [12]:
a=(23,34,67)
b=a*7

print(b)

(23, 34, 67, 23, 34, 67, 23, 34, 67, 23, 34, 67, 23, 34, 67, 23, 34, 67, 23, 34, 67)

write a program to take 5 input from the user and store it in a tuple

In [13]:
T=()
i=0
while i<=5:
    num =int(input("enter the values"))
    T=T+(num,)
    i= i+1
    print(T)

(10,)
(10, 20)
(10, 20, 30)
(10, 20, 30, 40)
(10, 20, 30, 40, 50)
(10, 20, 30, 40, 50, 60)